<html>
  <head>
    <title>VoIP-DHCP</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>
  <body>
    <META content="text/html; charset=utf-8" http-equiv="Content-Type">
    
    <div id="header">
      <h1 align="center">VoIP-DHCP</h1>
    </div>

    <div id="main_win">
      {% block content %}{% endblock %}
    </div>

    <div id="left-up-block">
      <a href="javascript:window.location.reload()">Обновить страницу</a><br>
      <a href="/mnr/mn_calls">ЛОГ МН-ТРАФИКА</a></br>
      <!--<p>Страница создана Mon Nov 26 16:25:02 +07 2018</p>-->
    </div>

    <div id="main_navigator">
      <nav>
        <ul>
          <li><a href="{{ url_for('.search') }}"> ПОИСК ПО ЛОГАМ </a></li>
          <li><a href="{{ url_for('.addhost') }}"> ДОБАВИТЬ СТАТИЧЕСКИЙ ХОСТ </a></li>
          <li><a href="{{ url_for('.addnet') }}"> ДОБАВИТЬ ПОДСЕТЬ </a></li>
          <li><a href="{{ url_for('.cleanalarms') }}"> ОЧИСТИТЬ АВАРИИ </a></li>
          <li><a href="{{ url_for('.cleandynamic') }}"> ОЧИСТИТЬ ДИНАМИЧЕСКИЕ АРЕНДЫ </a></li>
          <li><a href="{{ url_for('.restart') }}"> РЕСТАРТ СЕРВЕРОВ </a></li>
          <li><a href="{{ url_for('.getinfostat') }}"> ПОЛУЧИТЬ ИНФОРМАЦИЮ </br> (ПО ВСЕМ ПОДСЕТЯМ) </a></li>
          <li><a href="{{ url_for('.getinfo') }}"> ПОЛУЧИТЬ ИНФОРМАЦИЮ </br> (ПО ВЫБРАННОЙ ПОДСЕТИ) </a></li>
          <li><a href="{{ url_for('.index') }}"> ДОМОЙ </a></li>
        </ul> 
      </nav>
    </div>

  </body>
</html>
